---
import { Icon } from 'astro-icon'
import Starfield from '~/components/starfield-static.astro'
import social from '~/data/social.json'
import moon from '~/icons/moon.png'
import mountains_behind from '~/icons/mountains_behind.png'
import mountains_front from '~/icons/mountains_front.png'

const logoSrc = '/assets/logo.png'
---

<section class="relative h-full bg-black shrink-0 overflow-hidden">
	<Starfield />
	<img src={moon} id="moon" class="bgSite" />
	<img src={mountains_behind} id="mountains_behind" class="bgSite" />
	<img src={mountains_front} id="mountains_front" class="bgSite" />
	<div class="relative grid h-full place-items-center">
		<div class="flex flex-col gap-2 self-end sm:gap-4 sm:self-auto">
			<h2 class="gradient-text text-center font-extrabold tracking-tighter text-4xl">
				Partageons un moment <span class="sr-only">2GETHER</span>
			</h2>
			<img src={logoSrc} class="logotitre h-full max-h-16 text-white md:max-h-24" />
			<div class="relative grid h-full place-items-center mt-4">
				<a href={social.discord.url}>
					<button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
						<span class="relative inline-flex items-center justify-center px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
							<Icon class="h-5 mr-2" name={social.discord.icon} />
							Rejoins-nous sur Discord !
						</span>
					</button>
				</a>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	section {
		@apply relative w-full h-screen pb-16;

		img {
			@apply pointer-events-none;
		}

		img.bgSite {
			@apply absolute top-0 left-0 w-full h-full object-cover;
		}

		img.logotitre {
			z-index: 49;
		}

		a.btn {
			@apply pointer-events-none opacity-50;
			background: gray;
		}

		img#moon {
			@apply mix-blend-screen;
		}

		.bg {
			background: linear-gradient(#2b1055, #7597de);
		}

		.grid {
			@apply p-8;
		}
	}
</style>

<script>
	const moon = document.getElementById('moon')
	const mountains_behind = document.getElementById('mountains_behind')

	if (moon) {
		window.addEventListener('scroll', () => {
			let value = window.scrollY
			moon.style.top = value * 0.1 + 'px'
		})
	}

	if (mountains_behind) {
		window.addEventListener('scroll', () => {
			let value = window.scrollY
			mountains_behind.style.top = value * 0.2 + 'px'
		})
	}
</script>

<noscript>
	<style>
		#splash-bg-fallback {
			display: block;
		}
	</style>
</noscript>

<style>
	@media (prefers-reduced-motion: reduce) {
		:global(#starfield) {
			@apply hidden;
		}

		#splash-bg-fallback {
			@apply block;
		}
	}
</style>
