---
import '@fontsource/inter/variable.css'

export interface Props {
	// HTML attributes
	title: string
	htmlClass?: string | undefined
	htmlAttributes?: { [key: string]: string }
	// Meta tags
	description?: string | undefined
	lang?: string
	socialImage?: URL | undefined
	socialUrl?: URL | undefined
	// Body attributes
	bodyClass?: string | undefined
	bodyAttributes?: { [key: string]: string }
}

const {
	// HTML attributes
	lang = "en",
	htmlClass = undefined,
	htmlAttributes = {},
	// Meta tags
	title,
	description = undefined,
	socialImage = undefined,
	socialUrl = undefined,
	// Body attributes
	bodyClass = undefined,
	bodyAttributes = {},
} = Astro.props
---

<!DOCTYPE html>
<html lang={lang} class={htmlClass} {...htmlAttributes}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<link rel="icon" href="/favicon.png" type="image/png+xml" />

		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<meta name="generator" content={Astro.generator} />

		<!-- social media -->
		<meta property="og:title" content={title} />
		{description && (<meta property="og:description" content={description} />)}
		{socialImage && (<meta property="og:image" content={socialImage} />)}
		{socialUrl && (<meta property="og:url" content={socialUrl} />)}
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />

		<!-- initialize theme -->
		<script is:inline>
			const themeSaved = localStorage.getItem('theme')

			if (themeSaved) {
				document.documentElement.dataset.theme = themeSaved
			} else {
				const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches
				document.documentElement.dataset.theme = prefersDark ? 'dark' : 'light'
			}

			window
				.matchMedia('(prefers-color-scheme: dark)')
				.addEventListener('change', (event) =>
					{
						if (!localStorage.getItem('theme'))
						{
							document.documentElement.dataset.theme = event.matches
								? 'dark'
								: 'light'
						}
					});
		</script>

		<slot name="head" />
	</head>

	<body class={bodyClass} {...bodyAttributes}>
		<slot />
	</body>
</html>

<style>
	html {
		@apply h-full motion-safe:scroll-smooth;
	}

	body {
		@apply h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white;
	}
</style>
